*_Plist.Dir*
*.udf
.idea
*/.idea
.idea/*

android/res/mipmap-hdpi/ic_launcher.png
android/res/mipmap-mdpi/ic_launcher.png
android/res/mipmap-xhdpi/ic_launcher.png
android/res/mipmap-xxhdpi/ic_launcher.png
ccclient/res/test.cfg
*.orig
ccclient/cocos2d-html5
ccclient/linkh5.cmd
ccclient/update.log
ccclient/test.cfg
ccclient/update/*
ios/.DS_Store
.DS_Store
ccclient/update.log
/ccclient/update
android/libs/armeabi/libmp3lame.so
ccclient/res/Compression.bat
ccclient/res/pngquant.exe
ccclient/res/test0.cfg
ccclient/res/pngquant.zip
